@use './partials/variables' as *;

$fa-font-path: '../webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

@import 'bootstrap/scss/bootstrap';

body {
  background-color: $bgcolor;
}

.pagination {
  .disabled {
    --bs-pagination-disabled-bg:rgb(92, 90, 90);
    --bs-pagination-disabled-color:$darkgreen;
    }
}

.pagination > li > a
{
    background-color: black;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  background-color: $lighgreen !Important;
  color:white;
}

.pagination > .active > a
{
  background-color: $darkgreen !Important;
  color:white;
  border:1px solid white;
}

.pagination > .active > a:hover
{
    background-color: $darkgreen !Important;
    color:white;
}